$color-white: #FFFF;
$color-pink: #b22e6f;
$color-light-gray: #999999;
$color-light-gray-two: rgba(51, 51, 51, 0.4);
$color-light-pink: #cec0c6;
$color-light-black: rgba(0, 0, 0, 0.32);

$color-strong-gray: #333333;
$background-color-input: rgba(0, 0, 0, 0.32);
$background-modal: rgba(0, 0, 0, 0.5);